/* Fuentes*/ 

$robotoTitulo:'Roboto', sans-serif;
$notoTextos: 'Noto Sans', sans-serif;


/* backgrounds*/
$bgsectionIndex: darkcyan;
$bgfondoMusica: linear-gradient(to bottom, #B5AC49, #3CA55C);
$bgfooter: linear-gradient(to bottom, #dae2f8, #d6a4a4 );
$bgHeader: linear-gradient(to right,#c9ffbf,#ffafbd);
$bgasideIndex: linear-gradient(to right, #D7DDE8, #757F9A);
$bgSection1Bases: linear-gradient(to bottom, #E1F5C4, #EDE574);
$bgasideBases: #dbe6fd ;
$bg1Fms: linear-gradient(to right, #fff, #076585);
$bgformulario: #a1b5da;

/* Operaciones*/
$tamanoFuente: 1rem;
